In [3]:
import pymysql
 
# 打开数据库连接
# db = pymysql.connect("10.0.0.200","root","db10326","yyostech" )
db = pymysql.connect(host='10.0.0.200',
                     port=3306,
                     user='yy_jimmy',
                     password='yyjimmy',
                     db='yyostech')
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("SELECT * from raspi_data where photo_id = 'test1234'")
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchone()
 
print(len(data[1]))
 
# 关闭数据库连接
db.close()

782509

In [4]:
type(data)

tuple

In [5]:
import cv2
import numpy as np

frame = data[1]
# converting bytestring frame into imshow argument
nparr = np.fromstring(frame, np.uint8)
frame = cv2.imdecode(nparr, cv2.IMREAD_COLOR)
cv2.namedWindow("rect",0)
cv2.resizeWindow('rect', 328*2,246*2)
cv2.imshow('rect', frame)
cv2.waitKey(0)

D:\python\factory\venv\lib\site-packages\ipykernel_launcher.py:6: DeprecationWarning: The binary mode of fromstring is deprecated, as it behaves surprisingly on unicode inputs. Use frombuffer instead

-1

In [43]:
data[0][2]

'[[[ 78  35  42]\n  [ 73  30  37]\n  [ 71  29  33]\n  ...\n  [192 119  76]\n  [191 113  75]\n  [191 113  75]]\n\n [[ 83  41  45]\n  [ 79  37  41]\n  [ 69  27  31]\n  ...\n  [189 116  73]\n  [190 115  75]\n  [191 116  76]]\n\n [[ 79  39  40]\n  [ 77  37  37]\n  [ 78  36  37]\n  ...\n  [189 118  74]\n  [195 122  79]\n  [201 128  85]]\n\n ...\n\n [[212 138  77]\n  [214 140  79]\n  [210 136  75]\n  ...\n  [211 136  97]\n  [201 125  89]\n  [205 129  93]]\n\n [[212 137  80]\n  [213 138  81]\n  [210 134  76]\n  ...\n  [204 128  92]\n  [203 127  93]\n  [207 131  97]]\n\n [[208 133  78]\n  [208 133  78]\n  [207 130  74]\n  ...\n  [200 124  88]\n  [201 125  93]\n  [202 126  94]]]'

In [19]:
# mysql建立資料表

import pymysql
 
# 連線資料庫
db = pymysql.connect(host='10.0.0.200',
                     port=3306,
                     user='yy_jimmy',
                     password='yyjimmy',
                     db='yyostech')
# 建立連線物件
cursor = db.cursor()
 
# 新增資料表
# user_right
cursor.execute("""CREATE TABLE user_right (`right_id` INT PRIMARY KEY, 
                                           `menu_id` VARCHAR(255), 
                                           `menu_image` LONGBLOB)""")
# series_data
cursor.execute("""CREATE TABLE series_data (`series_id` VARCHAR(255) PRIMARY KEY, 
                                            `series_name` VARCHAR(255), 
                                            `threshold` INT, 
                                            `germination_percent` FLOAT, 
                                            `saw_days` INT)""")
# raspi_data
cursor.execute("""CREATE TABLE raspi_data (`photo_id` VARCHAR(255) PRIMARY KEY, 
                                           `iamge` LONGBLOB, 
                                           `photo_date` DATETIME)""")
# user_profile
cursor.execute("""CREATE TABLE user_profile (`line_id` VARCHAR(255) PRIMARY KEY, 
                                             `user_name` VARCHAR(255), 
                                             `right_id` INT,
                  FOREIGN KEY (`right_id`) REFERENCES user_right(right_id));""")
# germiantion_total
cursor.execute("""CREATE TABLE germiantion_total (`germination_id` VARCHAR(255) PRIMARY KEY, 
                                                  `photo_id` VARCHAR(255), 
                                                  `image` LONGBLOB, 
                                                  `threshold` INT, 
                                                  `germination_percent` FLOAT, 
                                                  `identify_date` DATETIME,
                                                  `saw_date` DATE,
                                                  `germination_rate` FLOAT,
                                                  `sponge_cnt` INT,
                  FOREIGN KEY (`photo_id`) REFERENCES raspi_data(photo_id))""")
# germination_single
cursor.execute("""CREATE TABLE germination_single (`sponge_id` VARCHAR(255) PRIMARY KEY, 
                                                   `germination_id` VARCHAR(255), 
                                                   `image` LONGBLOB, 
                                                   `plant_percent` FLOAT,
                                                   `is_germination` BOOLEAN,
                  FOREIGN KEY (`germination_id`) REFERENCES germiantion_total(germination_id))""")
# artificial_identify
cursor.execute("""CREATE TABLE artificial_identify (`artificial_id` VARCHAR(255) PRIMARY KEY, 
                                                    `sponge_id` VARCHAR(255),
                                                    `is_germination` BOOLEAN, 
                                                    `identify_date` DATETIME, 
                                                    `user` VARCHAR(255),
                  FOREIGN KEY (`sponge_id`) REFERENCES germination_single(sponge_id))""")
# 確認執行上述指令
result = db.commit()
# 回傳結果(none為成功)
print (result)
 
# 關閉資料庫連線
db.close()

None

In [22]:
import pymysql
 
# 打开数据库连接
# db = pymysql.connect("10.0.0.200","root","db10326","yyostech" )
db = pymysql.connect(host='10.0.0.200',
                     port=3306,
                     user='yy_jimmy',
                     password='yyjimmy',
                     db='yyostech')
# 使用 cursor() 方法创建一个游标对象 cursor
cursor = db.cursor()
 
# 使用 execute()  方法执行 SQL 查询 
cursor.execute("select * from user_profile")
 
# 使用 fetchone() 方法获取单条数据.
data = cursor.fetchall()
 
print(data)
 
# 关闭数据库连接
db.close()

(('Ua88d33cc15e1f629a54b415df99c2d62', '曾韋翔', 0),)

In [21]:
data

(('artificial_identify',),
 ('germiantion_total',),
 ('germination_single',),
 ('raspi_data',),
 ('series_data',),
 ('user_profile',),
 ('user_right',))

In [20]:
# mysql建立資料表

import pymysql
 
# 連線資料庫
db = pymysql.connect(host='10.0.0.200',
                     port=3306,
                     user='yy_jimmy',
                     password='yyjimmy',
                     db='yyostech')
# 建立連線物件
cursor = db.cursor()
 
with open('./lineMenu1.png', 'rb') as file:
    binaryData = file.read()
# print(len(binaryData))
menu_id = 'richmenu-6273c8438983aceac1d6ec86e304c169'
# user_right

sql_insert_blob_query = """INSERT INTO user_right (`right_id`, `menu_id`, `menu_image`) VALUES (%s, %s, %s)"""
insert_blob_tuple = (0, menu_id, binaryData)
result = cursor.execute(sql_insert_blob_query, insert_blob_tuple)

# 確認執行上述指令
result = db.commit()

# 回傳結果(none為成功)
print (result)
 
# 關閉資料庫連線
db.close()

None

In [34]:
def get_menu_id(user_id):
    # 連線資料庫
    db = pymysql.connect(host='10.0.0.200',
                         port=3306,
                         user='yy_jimmy',
                         password='yyjimmy',
                         db='yyostech')
    # 建立連線物件
    cursor = db.cursor()
    # user_profile
    sql_insert_blob_query = """select b.menu_id from user_profile a inner join user_right b on a.right_id = b.right_id and a.line_id = %s"""
    insert_blob_tuple = (user_id, )
    cursor.execute(sql_insert_blob_query, insert_blob_tuple)
    data = cursor.fetchone()
    # 關閉資料庫連線
    db.close()
    return data

aaa = get_menu_id('Ua88d33cc15e1f629a54b415df99c2d6212')
print(aaa)

<class 'NoneType'>

In [ ]:
db = pymysql.connect(host='10.0.0.200',
                         port=3306,
                         user='yy_jimmy',
                         password='yyjimmy',
                         db='yyostech')
# 建立連線物件
cursor = db.cursor()
# user_profile
sql_insert_blob_query = """select"""
cursor.execute(sql_insert_blob_query)
data = cursor.fetchone()
# 關閉資料庫連線
db.close()
return data[0]